.contact-heading {
    text-align: center;
    margin-block: 20px;
}

.contact-flex {
    width: 95%;
    margin: auto auto;
    display: flex;
    justify-content: space-around;
}

/* Contact Info */
.contact-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto auto;
}

.contact-sub-div {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px;
    font-size: 18px;
}

.sub-div-img {
    width: 80px;
    margin: auto 0;
}

.sub-div-img img {
    width: 100%;
}

.sub-div-info {
    width: 70%;
    margin: auto 0px;
}

.sub-div-info li {
    font-weight: 600;
    padding: 10px 15px;
    margin-block: 10px;
    border-radius: 8px;
    background-color: var(--yellow);
    border: 1px solid var(--light-grey);
    box-shadow: 10px 10px 10px var(--light-grey);
    background-image: linear-gradient(-20deg, var(--yellow), var(--white), var(--white));
}

.sub-div-info li a {
    color: var(--black);
    font-weight: 500;
    font-size: 14px;
    margin-block: 5px 10px;
    font-size: 16px;
}


/* Contact Form */
.form {
    width: 400px;
    margin: auto auto;
}

input,
button,
textarea {
    padding: 5px;
    margin-block: 5px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--light-grey);
}

textarea {
    height: 200px;
    resize: none;
}

button {
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease;
    background-color: var(--black);
    color: var(--yellow);
}

button:hover {
    background-color: var(--mild-grey);
}

.input-label {
    font-size: 14px;
    font-weight: 600;
}

.input-div {
    margin-bottom: 15px;
}

@media (max-width: 800px) {
    .contact-sub-div {
        justify-content: center;
    }
    
    .contact-flex {
        flex-wrap: wrap-reverse;
        display: block;
    }

    .contact-div .form {
        margin-block: 40px;
    }
    
    .form {
        width: 60vw;
    }
}

@media (max-width: 600px) {
    .contact-sub-div {
        display: block;
        width: 90vw;
        margin: 40px auto 0px auto;
    }

    .sub-div-info {
        margin: 0px;
        width: 100%;
    }
    
    .sub-div-img {
        margin: auto auto;
    }

    .form {
        width: 90vw;
    }
}