:root {
    --white: #ffffff;
    --off-white: #f1f1f1;
    --grey: #838383;
    --black: #000000;
    --matt-black: #171717;
    --red: #ff4654;
    --dark-green: #033F2D;
    --light-green: #C1E965;
    --dirty-green: #E9EAE1;
    --background-color: #ffffff;
    --primary-color: #E9EAE1;
    --primary-dark: #033F2D;
    /* --primary-light: #E9EAE1; */
    --secondary-color: #ffffff;
}

/* Footer Section */
.footer {
    width: 95%;
    margin: 30px auto;
    padding: 70px 40px 10px 40px;
    background-color: var(--dirty-green);
    border-radius: 20px;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto auto;
}

.foot-section {
    min-width: 100px;
    margin: 20px 0;
}

.foot-section > li > div {
    margin: 20px 0;
    color: var(--black);
    cursor: pointer;
}

.foot-section > .heading {
    padding: 0 0 15px 0;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}

.footer-logo {
    width: 200px;
}

hr {
    border: 0.5px solid var(--dark-grey);
    width: 90%;
    margin: auto auto;
}

.below-footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
    margin: auto auto;
    color: var(--black);
}

.below-footer-links > li > div {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
    cursor: pointer;
}

.below-footer-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.below-footer-section div {
    font-size: 18px;
    color: var(--black);
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.privacy-policy {
    display: flex;
    justify-content: center;
}

.privacy-policy li div {
    margin: 10px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .foot-section {
        min-width: 200px;
        padding-left: 40px;
    }

    .footer-logo {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .foot-section {
        padding-left: 0px;
    }
}

.green-text {
    color: var(--dark-green);
    font-weight: 600;
}