.carousel {
    width: 95vw;
    height: 85vh;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--black);
    color: var(--white);
    border-radius: var(--radius);
}

.areas-of-work {
    width: 80vw;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.areas-div {
    min-height: 200px;
    border-radius: var(--radius);
    border: 2px solid var(--light-grey);
    box-shadow: 10px 10px 10px var(--light-grey);
    background-image: linear-gradient(-15deg, var(--yellow), var(--white), var(--white), var(--white));
}

.areas-img {
    width: 100%;
    min-height: 200px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border: 1px solid var(--black);
}

.areas-div .sub-sub-title {
    text-align: left;
}

.areas-text {
    padding: 10px;
}

.areas-text .sub-sub-title {
    margin-block: 10px;
}

.areas-text .paragraph {
    color: var(--matt-black);
}

/* -------------------------------- */

.join-us {
    width: 80vw;
    margin: 40px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.join-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    margin-block: 10px;
    text-align: center;
    border-radius: var(--radius);
    border: 2px solid var(--light-grey);
    box-shadow: 10px 10px 10px var(--light-grey);
    background-image: linear-gradient(-25deg, var(--yellow), var(--white), var(--white));
    cursor: pointer;
    transition: all 200ms ease;
}

.join-div:hover {
    transform: scale(1.05);
}

.join-icon {
    width: 180px;
    height: 180px;
}

.join-icon img {
    width: 100%;
    height: fit-content;
    margin: auto auto;
}

.learn-more {
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-block: 20px 10px;
    cursor: pointer;
}

.rightArr {
    width: 20px;
    transition: all 200ms ease;
}

.learn-more:hover > .rightArr {
    margin-left: 5px;
}

@media (max-width: 1200px) {
    .areas-of-work, .join-us {
        width: 90vw;
    }
}

@media (max-width: 1100px) {
    .areas-of-work, .join-us {
        justify-content: center;
        gap: 20px;
    }

    .areas-div, .join-div {
        margin-block: 0px;
    }
}

@media (max-width: 850px) {
    .areas-of-work {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 95vw;
    }

    .areas-div {
        width: 320px;
    }

    .join-div {
        width: 200px;
        height: 200px;
    }

    .join-icon {
        width: 150px;
        height: 150px;
    }
}